openapi: 3.0.1
info:
  title: DIVERA 24/7 RESTful Webservice für Alarmierungen
  description: "Die API von DIVERA 24/7 bietet zahlreiche Möglichkeiten, um eigene Dienste anzubinden und Aktionen auszulösen. Für Testzwecke empfehlen wir Ihnen, eine separate Einheit anzulegen. Testeinheiten von zahlenden Kunden werden auf Nachfrage kostenfrei hochgestuft.
    \n\nBeachten Sie als Nutzer der kostenlosen Version: Innerhalb von fünf Minuten kann nur eine Alarmierung ausgelöst werden.
    Gespeichert wird nur das Einsatz-Stichwort.
    Sie können die ALARM-Version mit unbegrenzter Schnittstelle unverbindlich 30 Tage lang testen.
    Den Test beantragen Sie nach dem Login im Browser unter Verwaltung > Konto > Kontakt- und Vertragsdaten."
  version: R
servers:
- url: https://app.divera247.com
tags:
- name: CRUD
  description: Die wichtigsten Methoden zum Erstellen, Bearbeiten, Archivieren und Löschen von Alarmierungen
- name: Weitere
  description: Zusätzliche Methoden um auf Alarmierungen zu reagieren
paths:
  /api/v2/alarms:
    get:
      tags:
      - CRUD
      summary: Methode zum Abrufen aller nicht archivierten Alarmierungen
      responses:
        200:
          description: successful
          content:
            'application/json':
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: object
                    properties:
                      items:
                        type: object
                        description: Liste der einzelnen Alarmierungen nach ID
                        additionalProperties:
                          $ref: '#/components/schemas/alarm-result'
                      sorting:
                        type: array
                        description: Reihenfolge der Alarmierungen, aufsteigend
                        items:
                          type: integer
                  ucr:
                    type: integer
                    description: ID der UserClusterRelation im aktuellen Request
        403:
          description: Accesskey fehlt oder ungültig
          content: {}
        404:
          description: Objekt nicht gefunden oder Zugriff nicht gestattet
          content: {}
      security:
      - Personal-API-Accesskey: []
    post:
      tags:
      - CRUD
      summary: Methode zum Erstellen einer neuen Alarmierung
      requestBody:
        description: Parameter im JSON-Format
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/alarm-input'
      responses:
        200:
          description: successful
          content:
            'application/json':
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    $ref: '#/components/schemas/alarm-result'
        403:
          description: Accesskey fehlt oder ungültig
          content: {}
        404:
          description: Objekt nicht gefunden oder Zugriff nicht gestattet
          content: {}
      security:
      - Personal-API-Accesskey: []
  /api/v2/alarms/{id}:
    get:
      tags:
      - CRUD
      summary: Methode zum Anzeigen der Alarmierung anhand der Einsatz ID
      parameters:
      - name: id
        in: path
        description: Einsatz ID
        required: true
        schema:
          type: integer
      responses:
        200:
          description: successful
          content:
            'application/json':
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    $ref: '#/components/schemas/alarm-result'
                  ucr:
                    type: integer
                    description: ID der UserClusterRelation im aktuellen Request
        403:
          description: Accesskey fehlt oder ungültig
          content: {}
        404:
          description: Objekt nicht gefunden oder Zugriff nicht gestattet
          content: {}
      security:
      - Personal-API-Accesskey: []
    put:
      tags:
      - CRUD
      summary: Methode zum Bearbeiten der Alarmierung anhand der Einsatz ID
      parameters:
      - name: id
        in: path
        description: ID des Einsatzes, der bearbeitet werden soll.
        required: true
        schema: {}
      requestBody:
        description: Parameter im JSON-Format
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/alarm-input'
        required: true
      responses:
        200:
          description: successful
          content:
            'application/json':
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    $ref: '#/components/schemas/alarm-result'
                  ucr:
                    type: integer
                    description: ID der UserClusterRelation im aktuellen Request
        403:
          description: Accesskey fehlt oder ungültig
          content: {}
        404:
          description: Objekt nicht gefunden oder Zugriff nicht gestattet
          content: {}
      security:
      - Personal-API-Accesskey: []
    delete:
      tags:
      - CRUD
      summary: Methode zum Löschen der Alarmierung
      parameters:
      - name: id
        in: path
        description: ID des Einsatzes
        required: true
        schema: {}
      responses:
        200:
          description: successful
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/success'
        403:
          description: Accesskey fehlt oder ungültig
          content: {}
        404:
          description: Objekt nicht gefunden oder Zugriff nicht gestattet
          content: {}
      security:
      - Personal-API-Accesskey: []
  /api/v2/alarms/attachment/{id}:
    post:
      tags:
        - CRUD
      summary: Methode zum Hinzufügen eines Anhangs
      consumes:
        - multipart/form-data
      parameters:
        - name: id
          in: path
          description: ID der Nachricht
          required: true
          schema: {}
        - name: Attachment[upload]
          in: formData
          description:
          required: true
          schema:
            type: binary
        - name: Attachment[title]
          in: formData
          description: Titel des Anhangs
          required: true
          schema:
            type: string
        - name: Attachment[description]
          in: formData
          description: Beschreibung des Anhangs
          required: true
          schema:
            type: string
      responses:
        200:
          description: successful
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/success'
        403:
          description: Accesskey fehlt oder ungültig
          content: {}
        404:
          description: Objekt nicht gefunden oder Zugriff nicht gestattet
          content: {}
      security:
        - Personal-API-Accesskey: []
  /api/v2/alarms/archive/{id}:
    post:
      tags:
      - CRUD
      summary: Methode zum Archivieren der Alarmierung
      parameters:
      - name: id
        in: path
        description: ID des Einsatzes
        required: true
        schema: {}
      responses:
        200:
          description: successful
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/success'
        403:
          description: Accesskey fehlt oder ungültig
          content: {}
        404:
          description: Objekt nicht gefunden oder Zugriff nicht gestattet
          content: {}
      security:
      - Personal-API-Accesskey: []
  /api/v2/alarms/confirm/{id}:
    post:
      tags:
      - Weitere
      summary: Methode zum Erstellen einer Rückmeldung
      parameters:
      - name: id
        in: path
        description: ID des Einsatzes, zu dem eine Rückmeldung erfolgen soll
        required: true
        schema: {}
      requestBody:
        description: Parameter im JSON-Format
        content:
          application/json:
            schema:
              type: object
              properties:
                Status:
                  type: object
                  properties:
                    id:
                      type: integer
                      description: ID des Status
                    note:
                      type: string
                      description: Freitext-Rückmeldung
      responses:
        200:
          description: successful
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/success'
        403:
          description: Accesskey fehlt oder ungültig
          content: {}
        404:
          description: Objekt nicht gefunden oder Zugriff nicht gestattet
          content: {}
      security:
      - Personal-API-Accesskey: []
  /api/v2/alarms/read/{id}:
    post:
      tags:
      - Weitere
      summary: Methode um die Alarmierung als gelesen zu markieren
      parameters:
      - name: id
        in: path
        description: ID des Einsatzes, der gelesen wurde
        required: true
        schema: {}
      responses:
        200:
          description: successful
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/success'
        403:
          description: Accesskey fehlt oder ungültig
          content: {}
        404:
          description: Objekt nicht gefunden oder Zugriff nicht gestattet
          content: {}
      security:
      - Personal-API-Accesskey: []
  /api/v2/alarms/close/{id}:
    post:
      tags:
      - Weitere
      summary: Methode zum Schließen einer offenen Alarmierung (je nach Setup um den Einsatz im Monitor zu verbergen und die Rückmeldung einzuschränken)
      parameters:
      - name: id
        in: path
        description: ID des Einsatzes, welcher geschlossen werden soll
        required: true
        schema: {}
      requestBody:
        description: Parameter im JSON-Format
        content:
          application/json:
            schema:
              type: object
              properties:
                Alarm:
                  type: object
                  properties:
                    closed:
                      type: boolean
                      description: Zustand geschlossen oder geöffnet
                    report:
                      type: string
                      description: Einsatzbericht
                    ts:
                      type: integer
                      description: Datum/Uhrzeit als Unix-Timestamp
      responses:
        200:
          description: successful
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/success'
        403:
          description: Accesskey fehlt oder ungültig
          content: {}
        404:
          description: Objekt nicht gefunden oder Zugriff nicht gestattet
          content: {}
      security:
      - Personal-API-Accesskey: []
  /api/v2/alarms/reach/{id}:
    get:
      tags:
      - Weitere
      summary: Methode um die Reichweite (emfangen, gelesen, beantwortet) abzurufen
      parameters:
      - name: id
        in: path
        description: ID des Einsatzes
        required: true
        schema: {}
      responses:
        200:
          description: successful
          content:
            'application/json':
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: object
                    properties:
                      transports:
                        type: object
                        description: Abgeschlossene Versand-Prozesse
                      received:
                        type: object
                        description: Benachrichtigung erhalten (Push/Pager/SMS/Anruf)
                      viewed:
                        type: object
                        description: Meldung gelesen
                      confirmed:
                        type: object
                        description: Aktive Rückmeldung
                  ucr:
                    type: integer
                    description: ID der UserClusterRelation im aktuellen Request
        403:
          description: Accesskey fehlt oder ungültig
          content: {}
        404:
          description: Objekt nicht gefunden oder Zugriff nicht gestattet
          content: {}
      security:
      - Personal-API-Accesskey: []
  /api/v2/alarms/download/{id}:
    get:
      tags:
      - Weitere
      summary: Methode zum Herunterladen des Einsatzes inkl. Rückmeldungen und Statusverlauf als PDF-Datei
      parameters:
      - name: id
        in: path
        description: ID des Einsatzes
        required: true
        schema: {}
      responses:
        200:
          description: successful
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/success'
        403:
          description: Accesskey fehlt oder ungültig
          content: {}
        404:
          description: Objekt nicht gefunden oder Zugriff nicht gestattet
          content: {}
      security:
      - Personal-API-Accesskey: []
  /api/v2/alarms/reset-responses/{id}:
    delete:
      tags:
        - Weitere
      summary: Methode zum Rücksetzen von Rückmeldungen einer Alarmierung
      parameters:
        - name: id
          in: path
          description: ID des Einsatzes
          required: true
          schema: {}
      responses:
        200:
          description: successful
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/success'
        403:
          description: Accesskey fehlt oder ungültig
          content: {}
        404:
          description: Objekt nicht gefunden oder Zugriff nicht gestattet
          content: {}
      security:
        - Personal-API-Accesskey: []

components:
  schemas:

    success:
      type: object
      properties:
        success:
          type: boolean
          example: TRUE
        data:
          type: object
        ucr:
          type: integer
          description: ID der UserClusterRelation im aktuellen Request

    alarm-input:
      type: object
      properties:
        Alarm:
          type: object
          properties:
            foreign_id:
              type: string
              example: 2019-1023
              description: Einsatznummer/Fremdschlüssel
            alarmcode_id:
              type: number
              example: 123456789
              description: ID der Alarmvorlage (Achtung, die Vorgaben der Vorlage werden nicht automatisch auf den Alarm übertragen)
            priority:
              type: boolean
              description: Priorität/Sonderrechte
            title:
              type: string
              required: true
              example: FEUER3
              description: Stichwort
            text:
              type: string
              example: Unklare Rauchentwicklung im Hafen
              description: Meldung
            address:
              type: string
              example: Hauptstraße 247, 12345 Musterstadt
              description: Einsatzort
            lat:
              type: number
              description: Breitengrad
            lng:
              type: number
              description: Längengrad
            scene_object:
              description: Angaben zum Objekt/Gebäude
              schema:
                type: string
            caller:
              description: Angaben zur meldenden Personen
              schema:
                type: string
            patient:
              description: Angaben zum Patienten
              schema:
                type: string
            remark:
              description: Bemerkungen/Hinweise für die Einsatzkräfte
              schema:
                type: string
            units:
              description: Beteiligte Einsatzmittel
              schema:
                type: string
            destination:
              description: Gibt es ein Fahrtziel?
              schema:
                type: boolean
            destination_address:
              description: Adresse des Fahrtziels
              schema:
                type: string
            destination_lat:
              description: Breitengrad des Fahrtziels
              schema:
                type: number
                format: float
            destination_lng:
              description: Längengrad des Fahrtziels
              schema:
                type: number
                format: float
            additional_text_1:
              description: Zusatz 1
              schema:
                type: string
            additional_text_2:
              description: Zusatz 2
              schema:
                type: string
            additional_text_3:
              description: Zusatz 3
              schema:
                type: string
            report:
              type: string
              example: 2 Einsatztabschnitte gebildet, 3 C-Rohre im Einsatz
              description: Einsatzbericht
            private_mode:
              type: boolean
              description: Sichtbarkeit privat
            notification_type:
              type: number
              required: true
              description: Empfänger-Auswahl (1 = Ausgewählte Standorte (nur in der PRO-Version), 2 = Alle des Standortes, 3 = Ausgewählte Gruppen, 4 = Ausgewählte Benutzer)
            notification_filter_vehicle:
              type: boolean
              description: Nur Personen alarmieren, die sich auf einem zugeteilten Fahrzeuge befinden
            notification_filter_status:
              type: boolean
              description: Nur Personen alarmieren, die sich in einem bestimmten Status befinden
            notification_filter_access:
              type: boolean
              description: Einsatz auch für nicht alarmierte Empfänger sichtbar machen
            send_push:
              type: boolean
              description: Push-Nachricht an die App senden (der Wert wird nach dem Versand auf FALSE zurückgesetzt)
            send_sms:
              type: boolean
              description: SMS senden (der Wert wird nach dem Versand auf FALSE zurückgesetzt, kostenpflichtig)
            send_call:
              type: boolean
              description: Sprachanruf senden (der Wert wird nach dem Versand auf FALSE zurückgesetzt, kostenpflichtig)
            send_mail:
              type: boolean
              description: E-Mail senden (der Wert wird nach dem Versand auf FALSE zurückgesetzt, Adresse muss zuvor durch den Benutzer bestätigt werden)
            send_pager:
              type: boolean
              description: An verknüpfte Pager senden (der Wert wird nach dem Versand auf FALSE zurückgesetzt, je nach Setup e*Message-/UNITRONIC-/TETRA-Pager)
            response_time:
              type: number
              description: Rückmeldung innerhalb des Zeitraums in Sekunden
            closed:
              type: boolean
              description: Einsatz beendet
            ts_close:
              type: number
              description: Einsatzende als UNIX-Timestamp
            ts_publish:
              type: number
              description: Alarmierung zeitgesteuert auslösen nach UNIX-Timestamp
            notification_filter_status_access:
              type: boolean
              description: deprecated, nicht mehr verwenden (die neue Eigenschaft lautet 'notification_filter_access')
            long:
              type: number
              description: deprecated, nicht mehr verwenden (die neue Eigenschaft lautet 'lng')
            type:
              type: string
              description: deprecated, nicht mehr verwenden (die neue Eigenschaft lautet 'title')
            uploads:
              type: string
              description: Anhänge uploaden als Binary
              example: Binary
            cluster:
              type: array
              description: IDs der Standorte mit Empfänger-Auswahl (nur für einheitsübergreifende Alarmierungen in der PRO-Version, bedingt 'notification_type' = 1)
              example: { "123":{"notification_type":2}, "456":{"notification_type":3}, "789":{"notification_type":4} }
              items:
                type: object
                description: ID der Untereinheit der Index, als Wert im Objekt den Typ der Empfänger-Auswahl innerhalb der Untereinheit, die IDs der Gruppen und Benutzer in den übergeordneten Arrays 'usingGroups' und 'usingUserClusterRelations' übermitteln)
                properties:
                  notification_type:
                    type: integer
            group:
              type: array
              example: [1,2,3,4]
              description: IDs der Gruppen (bedingt 'notification_type' = 1 oder 3). Statt der IDs kann über die Angabe in `instructions.group` auch der Name der Gruppe übergeben werden.
              items:
                type: integer
            user_cluster_relation:
              type: array
              example: [1,2,3,4]
              description: IDs der Benutzer (bedingt 'notification_type' = 1 oder 4). Statt der IDs kann über die Angabe in `instructions.user_cluster_relation` auch der eingetragene Fremdschlüssel des Nutzers oder Status-IDs übergeben werden.
              items:
                type: integer
            vehicle:
              type: array
              example: [1,2,3,4]
              description: IDs der Fahrzeuge/Einsatzmittel. Statt der IDs kann über Angabe in `instructions.vehicle` auch der eingetragene Funkrufname, RIC, ISSI usw. des Fahrzeugs verwendet werden.
              items:
                type: integer
            status:
              type: array
              description: IDs der ausgewählten Status (notification_filter_status = TRUE). Statt der IDs kann über Angabe in `instructions.status` auch der eingetragene Funkrufname, RIC, ISSI usw. des Fahrzeugs verwendet werden.
              items:
                type: integer
        instructions:
          type: object
          properties:
            cluster:
              type: object
              properties:
                mapping:
                  type: string
                  example: id
                  description: "Mögliche Werte: id (Primärschlüssel), title (Bezeichnung)"
            group:
              type: object
              properties:
                mapping:
                  type: string
                  example: id
                  description: "Mögliche Werte: id (Primärschlüssel), title (Bezeichnung)"
            user_cluster_relation:
              type: object
              properties:
                mapping:
                  type: string
                  example: id
                  description: "Mögliche Werte: id (Primärschlüssel), foreign_id (Fremdschlüssel), status_id (Aktuelle ID des Status)"
            vehicle:
              type: object
              properties:
                mapping:
                  type: string
                  example: id
                  description: "Mögliche Werte: id (Primärschlüssel), name (Funkrufname), number (Kennzeichen), ric (Alarmierungs-RIC), issi (Individual Short Subscriber Identity), opta (Operativ-taktische Adresse), fmsstatus_id (Fahrzeug-Status ID)"
    alarm-result:
      type: object
      properties:
        id:
          type: integer
          example: 123
          description: ID/Primärschlüssel
        foreign_id:
          type: string
          example: 2019-1023
          description: Einsatznummer/Fremdschlüssel
        author_id:
          type: integer
          example: 123456789
          description: ID des Nutzers (UserClusterRelation)
        alarmcode_id:
          type: integer
          example: 123456789
          description: ID der Alarmvorlage (Alarmcode)
        date:
          type: integer
          description: Alarmierungszeit als UNIX-Timestamp
        priority:
          type: boolean
          description: Priorität/Sonderrechte
        title:
          type: string
          example: FEUER3
          description: Stichwort
        text:
          type: string
          example: Unklare Rauchentwicklung im Hafen
          description: Meldung
        address:
          type: string
          example: Hauptstraße 247, 12345 Musterstadt
          description: Einsatzort
        lat:
          type: number
          description: Breitengrad
        lng:
          type: number
          description: Längengrad
        scene_object:
          type: string
          description: Angaben zum Objekt/Gebäude
        caller:
          type: string
          description: Angaben zur meldenden Personen
        patient:
          type: string
          description: Angaben zum Patienten
        remark:
          type: string
          description: Bemerkungen/Hinweise für die Einsatzkräfte
        units:
          type: string
          description: Beteiligte Einsatzmittel
        destination:
          type: boolean
          description: Gibt es ein Fahrtziel?
        destination_address:
          type: string
          description: Adresse des Fahrtziels
        destination_lat:
          type: number
          description: Breitengrad des Fahrtziels
        destination_lng:
          type: number
          description: Längengrad des Fahrtziels
        additional_text_1:
          type: string
          description: Zusatz 1
        additional_text_2:
          type: string
          description: Zusatz 2
        additional_text_3:
          type: string
          description: Zusatz 3
        report:
          type: string
          example: 2 Einsatztabschnitte gebildet, 3 C-Rohre im Einsatz
          description: Einsatzbericht
        cluster:
          type: array
          items:
            type: integer
          description: IDs der Standorte (bedingt 'notification_type' = 1)
        group:
          type: array
          items:
            type: integer
          description: IDs der Gruppen (bedingt 'notification_type' = 1 oder 3)
        user_cluster_relation:
          type: array
          items:
            type: integer
          description: IDs der Benutzer (bedingt 'notification_type = 1 oder 4)
        vehicle:
          type: array
          items:
            type: string
          description: IDs der Fahrzeuge/Einsatzmittel
        private_mode:
          type: boolean
          description: Sichtbarkeit privat
        notification_type:
          type: integer
          description: Empfänger-Auswahl (1 = Ausgewählte Standorte, 2 = Alle des Standortes, 3 = Ausgewählte Gruppen, 4 = Ausgewählte Benutzer)
        notification_filter_vehicle:
          type: boolean
          description: Nur Personen alarmieren, die sich auf einem zugeteilten Fahrzeuge befinden
        notification_filter_status:
          type: boolean
          description: Nur Personen alarmieren, die sich in einem bestimmten Status befinden
        notification_filter_access:
          type: boolean
          description: Einsatz auch für nicht benachrichtigte Empfänger sichtbar machen
        notification_filter_status_ids:
          type: array
          items:
            type: integer
          description: IDs der ausgewählten Status (notification_filter_status = TRUE)
        send_push:
          type: boolean
          description: Push-Nachricht an die App senden (der Wert wird nach dem Versand auf FALSE zurückgesetzt)
        send_sms:
          type: boolean
          description: SMS senden (der Wert wird nach dem Versand auf FALSE zurückgesetzt, kostenpflichtig)
        send_call:
          type: boolean
          description: Sprachanruf senden (der Wert wird nach dem Versand auf FALSE zurückgesetzt, kostenpflichtig)
        send_mail:
          type: boolean
          description: E-Mail senden (der Wert wird nach dem Versand auf FALSE zurückgesetzt, Adresse muss zuvor durch den Benutzer bestätigt werden)
        send_pager:
          type: boolean
          description: An verknüpfte Pager senden (der Wert wird nach dem Versand auf FALSE zurückgesetzt, je nach Setup e*Message-/UNITRONIC-/TETRA-Pager)
        response_time:
          type: integer
          description: Rückmeldung innerhalb des Zeitraums in Minuten
        closed:
          type: boolean
          description: Einsatz beendet
        new:
          type: boolean
          description: Neu/Umngelesen
        editable:
          type: boolean
          description: Bearbeitbar
        answerable:
          type: boolean
          description: Beantwortbar
        hidden:
          type: boolean
          description: Entwurf
        deleted:
          type: boolean
          description: Im Archiv, nur noch für Schreibberechtigte zugänglich
        ucr_adressed:
          type: array
          items:
            type: integer
          description: Adressierte Benutzer
        ucr_answered:
          type: array
          items:
            type: integer
          description: Rückmeldungen der Benutzer
        ucr_self_addressed:
          type: boolean
          description: Selbst adressiert, Rückmeldung ist möglich
        ucr_self_status_id:
          type: integer
          description: Eigene Rückmeldung (ID des Status)
        ucr_self_note:
          type: string
          description: Eigene Rückmeldung (Freitext)
        count_recipients:
          type: integer
          description: Anzahl der Empfänger
        count_read:
          type: integer
          description: Anzahl gelesen
        ts_response:
          type: integer
          description: Berechneter UNIX-Timestamp für Rückmeldung bis (gemäß response_time)
        ts_publish:
          type: integer
          description: UNIX-Timestamp für zeitgesteuerte Alarmierung
        ts_close:
          type: integer
          description: UNIX-Timestamp Einsatzende
        ts_create:
          type: integer
          description: UNIX-Timestamp des Erstelldatums
        ts_update:
          type: integer
          description: UNIX-Timestamp zuletzt bearbeitet
        notification_filter_status_access:
          type: boolean
          description: deprecated, nicht mehr verwenden (die neue Eigenschaft lautet 'notification_filter_access')

  securitySchemes:
    Personal-API-Accesskey:
      type: apiKey
      name: accesskey
      in: query
